* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}

body {
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
}


div#status {
  display: table-cell;
  width: 10%;
  border-left: solid 1px black;
}

div#status.offline {
  background-color: red;
}

div#status.online {
  background-color: green;
}

div#status.connecting {
  background-color: yellow;
}

span.warn {
  color: gray;
}

div#chat-window {
  position: absolute;
  height: 50%;
  width: 33%;
  background-color: rgba(0,0,0,0.8);
  top: 2%;
  left: 65%;
  display: block; 
  overflow: hidden;
  /*border: solid 1px #000;*/
}

div#game {
  height: 95%;
  background-color: #CCC;
  margin: 0;
}

div#players {
  border-left: solid 1px black;
  height: 100%;
  width: 90%;
  display: table-cell;
  padding: 0.5%;
  text-align: left;
  font-size: 75%;
  font-family: 'Lucida Console', Monaco, monospace;
  overflow: scroll;
}

div#players .nick {
  display: inline-block;
  padding: 0.3%;
  border: solid 1px #000;
}

div#chat {
  height: 94%;
  width: 98%; 
  margin: 1%;
  text-align: left;
  vertical-align: bottom;
  font-size: 75%;
  font-family: 'Lucida Console', Monaco, monospace;
  overflow: auto;
  color: #fff;
  /*background-color: #345;*/
  margin-bottom: 0px;
}

div#chatinput {
  width: 100%;
  text-align: left;
  margin: 0px;
  padding: 0px;
}

div#statusbar {
  height: 5%;
  display: table;
  width: 100%;
}

div#chatinput input[type=text] {
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  border: 0px;
  color: #fff;
  font-family: 'Lucida Console', Monaco, monospace;
  height: 5%; 
}

div.title {
  color: #FFF;
  background-color: #000;
}

div.modal-div {
  display: none;
  position: absolute;
  z-index: 102;
  width: 20%;
  height: 20%;
  top: 20%;
  left: 40%;
  background-color: #DDD;
  border: solid 1px #000;
  padding: 0.3%;
  text-align: left;
}

div#modal-title {
  background-color: #000;
  color: #FFF;
  margin: -1.5% -1.5% 1.4% -1.5%;
  padding: 0.3% 0.3% 0.3% 2%;  
}
    
div.modal-overlay {
  display: none;
  position: absolute;
  width:100%;
  height:100%;
  top: 0;
  left: 0;
  background-color:#000000;
  filter:alpha(opacity=60);
  opacity:0.6;
  -moz-opacity:0.6;
  z-index:101;
  text-align:center;
  vertical-align:middle;
}

div.closebtn {
  float: right;
  color: #FFF;
  height: 24%;
  width: 6%;
  padding: 0;
  margin: -1.4% -1.4% 1.4% -1.5%; 
  text-align: center;
  cursor: pointer;
}
